.error {
    font-size: 20px;
}

.rating-error {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.edit-error {
    display: flex;
    justify-content: flex-end;
}

.send-error {
    margin-left: 30px;
    margin-bottom: 5px;
    padding: 0;
    list-style: none;
}

.dealing-chat-container {
    display: flex;
    flex-direction: row;
    height: 100dvh;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 15%;
    background: #868686;
    align-items: center;
}

.sidebar-title {
    margin: 5px 0 0 0;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
}

.other-deal {
    display: flex;
    width: 75%;
    min-height: 42px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 3px 10px;
    border-radius: 5px;
    background: #EEEFEB;
    color: #000000;
    text-decoration: none;
    overflow: hidden;
}

.adjustable-text {
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    flex-shrink: 1;
    min-width: 0;
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: auto;
    margin-right: 10px;
}

.chat-header,
.item-info-container {
    border-bottom: 2px solid #5F5F5F;
}

.chat-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 5px 30px;
}

.user-image {
    width: 80px;
    height: 80px;
    margin-left: 5px;
    border-radius: 50%;
}

.chat-header-title {
    font-size: 36px;
    font-weight: bold;
}

.complete-deal {
    display: inline-flex;
    width: 172px;
    height: 54px;
    margin-left: auto;
    border-radius: 30px;
    border: none;
    background: #FF8282;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
    }

.complete-deal:hover {
    background-color: #FF5555;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background: #FDFCE6;
    border-radius: 10px;
    width: 600px;
    height: 370px;
    text-align: center;
    justify-content: center;
    border: 1px solid #000000;
}

.headline-section h2 {
    font-size: 35px;
    font-weight: normal;
}

.rating-section {
    width: 100%;
    border-width: 1px 0;
    border-style: solid;
    border-color: #000000;
}

.headline-section h2,
.rating-section .subtitle {
    margin: 15px;
    text-align: left;
}

.subtitle {
    font-size: 20px;
    color: #868686;
    margin-bottom: 10px;
}

.stars span {
    font-size: 100px;
    color: #D9D9D9;
    cursor: pointer;
    transition: color 0.2s;
}

.stars span.active {
    color: #FFF048;
}

.action-section {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.submit-button {
    background: #FF8282;
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: normal;
    cursor: pointer;
}

.item-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 0 15px;
}

.item-image {
    width: 200px;
    height: 200px;
    margin: 15px 0;
    margin-left: 25px;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.item-title,
.item-price {
    margin: 0;
}

.item-title {
    font-size: 48px;
}

.item-price {
    font-size: 36px;
}

.chat-messages-container {
    margin: 15px 5px 0 20px;
    flex: 1;
    overflow-y: scroll;
    max-height: 350px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 20px;
    padding-bottom: 10px;
}

.chat-messages-container::-webkit-scrollbar {
    display: none;
}

.chat-message {
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
}

.chat-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.in-chat {
    width: 60px;
    height: 60px;
}

.incoming {
    align-items: flex-start;
}

.outgoing {
    align-items: flex-end;
}

.chat-message .chat-text,
.chat-message .edit-form {
    min-width: 40%;
    min-height: 60px;
    margin: 5px 0 0 0;
    border-radius: 4px;
    color: #000000;
}

.chat-message .chat-text {
    display: flex;
    padding: 10px 30px;
    background: #D9D9D9;
    justify-content: center;
    align-items: center;
}

.chat-message .edit-form {
    padding: 0;
}

.edit-area {
    width: 100%;
    min-height: 100%;
    resize: none;
    overflow: hidden;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
}

.chat-message .chat-text.hidden,
.hidden {
    display: none;
}

.chat-message .chat-actions {
    min-width: 40%;
    display: flex;
    justify-content: space-between;
}

.left-actions {
    display: flex;
}

.right-actions {
    display: flex;
    gap: 10px;

}

.edit-message .chat-actions-button,
.chat-message .chat-actions .chat-actions-button,
.chat-message .chat-actions form .chat-actions-button {
    font-size: 15px;
    color: #5F5F5F;
    background: #FFFFFF;
    border: none;
}

.edit-message .chat-actions-button:hover,
.chat-message .chat-actions .chat-actions-button:hover,
.chat-message .chat-actions form .chat-actions-button:hover {
    text-decoration: underline;
}

.chat-message .chat-image {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-top: 10px;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}

.chat-input-container {
    margin-top: 15px;
}

.chat-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textarea {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    resize: none;
    min-height: 40px;
    line-height: normal;
}

.chat-input-container .chat-form input {
    display: none;
}

.upload-image-button {
    display: flex;
    height: 50px;
    padding: 5px 20px;
    align-items: center;
    color: #FF5555;
    font-size: 20px;
    font-weight: bold;
    border: solid 2px #FF5555;
    border-radius: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.upload-image-button:hover {
    background-color: #FF5555;
    color: #FFFFFF;
}

.chat-sending-button {
    width: 50px;
    height: 50px;
    padding: 0;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
}

@media (max-width:850px) {

    .error {
        font-size: 13px;
    }

    .sidebar {
        gap: 25px;
    }

    .sidebar-title {
        font-size: 16px;
    }

    .other-deal {
        gap: 10px;
        min-height: 24px;
        font-size: 0.8em;
    }

    .chat-header {
        gap: 15px;
        padding: 5px 25px;
    }

    .user-image {
        width: 60px;
        height: auto;
    }

    .chat-header-title {
        font-size: 20px;
    }

    .complete-deal {
        width: 140px;
        height: 40px;
        font-size: 15px;
    }

    .item-image {
        width: 130px;
        height: auto;
        margin: 10px 0;
        margin-left: 15px;
    }

    .item-info {
        gap: 15px;
    }

    .item-title {
        font-size: 35px;
    }

    .item-price {
        font-size: 25px;
    }

    .chat-messages-container {
        max-height: 300px;
    }

    .chat-message {
        font-size: 15px;
    }

    .chat-user {
        gap: 10px;
    }

    .in-chat {
        width: 45px;
        height: auto;
    }

    .chat-message .chat-text,
    .chat-message .edit-form {
        min-height: 40px;
    }

    .edit-area {
        font-size: 15px;
    }

    .right-actions {
        gap: 5px;
    }

    .chat-message .chat-image {
        max-width: 100px;
        max-height: auto;
    }

    .chat-input-container {
        margin-bottom: 5px;
    }

    .chat-form {
        align-items: center;
    }

    .textarea {
        max-width: 70%;
        padding: 5px;
        font-size: 15px;
        min-height: 20px;
    }

    .upload-image-button {
        height: 30px;
        padding: 5px 10px;
        font-size: 15px;
    }

    .chat-sending-button {
        width: 30px;
        height: auto;
    }
}